/* reset  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.display-flex{
    display: flex;
}
.column{
    display: flex;
    flex-direction: column;
}
.space-around{
    justify-content: space-around;
}
header{
    background-color: #ff6900;
    padding: 1% 9%;
    position: fixed;
    width: 100%;
    z-index: 1;
}
nav > img{
    width: 10%;
    object-fit: contain;
}
ul{
    list-style: none;
}
li{
    padding: 0.5rem;
}
a{
    text-decoration: none;
    color: white;
}
main{
    width: 80%;
    margin: 0 auto;
    padding: 8rem;
}
main>section{
    margin-bottom: 1rem;
}
section>article{
    width: calc((100% / 3) - 2rem);
    position: relative;
}
section > article > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
article > div > span{
    color: red;
}
footer{
    background-color: #1a1a1a;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1% 4%;
}
.discount{
    background-color: red;
    position: absolute;
    bottom: 6rem;
    left: 0rem;
}
.preferiti{
    background-color: white;
    position: absolute;
    top: 2rem;
    right: 0rem;
    padding: 0.5rem;
    font-size: 2rem;
}
.sostenibilità{
    background-color: green;
    position: absolute;
}
.small-text{
    font-size: 60%;
}
.img1:hover > img{
    content: url(../img/1b.webp);
}
.img2:hover > img{
    content: url(../img/2b.webp);
}
.img3:hover > img{
    content: url(../img/3b.webp);
}
.img4:hover > img{
    content: url(../img/4b.webp);
}
.img5:hover > img{
    content: url(../img/5b.webp);
}
.img6:hover > img{
    content: url(../img/6b.webp);
}
.preferiti:hover{
    color: red;
}